body {
  background-color: #000000;
  /* The image used */
  background-image: url("assets/BG.gif");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
h4 {
  color: #ffffff;
}
h5 {
  color: #ffffff;
}
h6 {
  color: #ffffff;
}
p {
  color: #ffffff;
  display: inline-block;
	text-align: justify;
	margin: 0em 0.5em;
}
a:link {
	color: #3333FF;
}
a:visited {
	color: #9933CC;
}
a:hover {
	color: #3333FF;
}
a:active {
	color: #FF3333;
}

img {
	width: "100%";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerbutton {
  text-align:center;

}

/* Container holding the image and the text */
.container {
	padding: 0.5em 0.5em;
  border-radius: 10px;
	color:rgba(255,255,255,0.98);
	background-color:rgba(0,18,36,0.8);
  display: inline-block;
	text-align: justify;
	margin: 0em 0.5em;
}

.floated {
	float:left;
	width:35%;
	max-width:256px;
	margin-right: 0.5em;
}

.audio-container {
	position: fixed;
  display: flex;
	left: 1em;
	right: 1em;
	bottom: 1em;
  justify-content: center;
  align-items: center;
}

.audio-text {
	position: fixed;
  border-radius: 10px;
	left: 1em;
	bottom: 4em;
	text-align: left;
	padding: 0.5em 0.5em;
	color:rgba(255,255,255,0.95);
	background-color:rgba(0,18,36,0.7);
}