body {
  background-color: #000000;
  /* The image used */
  background-image: url("assets/BG.gif");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
}
h1, h2, h3, h4 {
  color: #ffffff;
	text-align: center;
}
h5, h6{
  color: #ffffff;
}
p {
  color: #ffffff;
  display: block;
	text-align: justify;
  line-height: 150%;
}
a:link {
	color: #88CCFF;
}
a:visited {
	color: #CC88FF;
}
a:hover {
	color: #8899FF;
}
a:active {
	color: #FF3333;
}

img {
	width: "100%";
	margin: 1em 0.5em;
}

ul {
  list-style-type: circle;
	padding: 0em 0em 0em 1em;
  line-height: 150%;
	font-size: medium;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerbutton {
  text-align:center;
}

/* Container holding the image and the text */
.container {
	padding: 1em;
	border-radius: 40px;
	color:rgba(255,255,255,0.98);
	background-color:rgba(0,18,36,0.9);
	display: inline-block;
	text-align: justify;
	margin: 0em 0.5em;
	max-width: 75em;
}

.containercontainer {
  display: flex;
  justify-content: center;
}

.floated {
	float:left;
	width:35%;
	max-width:256px;
	margin-right: 0.5em;
}

.audio-container {
	position: fixed;
  display: flex;
	left: 1em;
	right: 1em;
	bottom: 1em;
  justify-content: center;
  align-items: center;
}

.audio-text {
	position: fixed;
  border-radius: 10px;
	left: 1em;
	bottom: 4em;
	text-align: left;
	padding: 0.5em 0.5em;
	color:rgba(255,255,255,0.95);
	background-color:rgba(0,18,36,0.9);
}



/* The following is used for the header*/
a.head:link {
	color: white;
}
a.head:visited {
	color: white;
}
a.head:hover {
	color: white;
}
a.head:active {
	color: white;
}

div.head-scroll {
	overflow: auto;
	white-space: nowrap;
	text-align: center;
	margin: 1em 0.6em;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
	border-radius: 10px;
}

ul.head {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	background-color: rgba(0,18,36,1);
	overflow: auto;
	white-space: nowrap;
}

li.head {
	display: inline-block;
}

li a.head, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition-duration: 0.2s;
	transition-property: background-color;

}

li a.head:hover, .dropdown:hover .dropbtn {
	background-color: rgba(0,54,108,1);
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	position: absolute;
	background-color: rgba(0,54,108,0.8);
	min-width: 120px;
	z-index: 1;
	max-height: 0px;
	overflow: hidden;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: rgba(0,127,255,0.5);
}

.dropdown:hover .dropdown-content {
	max-height: 20em;
	transition-duration: 0.4s;
	transition-property: max-height;
	transition-timing-function: linear;
}

.dropbown-bottom {
	border-radius: 0em 0em 1em 1em;
}

/* The following is used for playlists */
.playlist{
	list-style: none;
	list-style-type: none;
	padding-left: 0;
}
.playlist li{
	padding: 0px 16px;
	list-style-type: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.playlist li a{
	color:white;
	text-decoration: none;
	padding: 14px 16px;
	background-color: rgba(2, 133, 255, 0);
	display: block;
	border-radius: 0.5em;
	transition-duration: 0.2s;
	transition-property: background-color, outline;
}
.playlist li a:hover{
	background-color: rgba(2, 133, 255, 0.3);
}
.playlist li div{
	display: none;
}
.playlist .current-song a{
	outline-color: rgba(2, 133, 255, 1);
	outline-style: solid;
	outline-width: 1px;
	border-radius: 0.5em;
}
.playlist .current-song div{
	display: block;
}