body {
  background-color: #000000;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
h4 {
  color: #ffffff;
}
h5 {
  color: #ffffff;
}
h6 {
  color: #ffffff;
}
p {
  color: #ffffff;
	text-align: justify;
	padding: 1em 1em;
	margin: 1em 1em;
	background-color: black;
}
a:link {
	color: #3333FF;
}
a:visited {
	color: #9933CC;
}
a:hover {
	color: #3333FF;
}
a:active {
	color: #FF3333;
}

img {
	width: "100%";
	margin-top: 1em;
	margin-bottom: 1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerbutton {
  text-align:center;

}